name: kreaStream Derleyici

concurrency:
  group: ${{ github.workflow }}-${{ github.event_name }}-${{ github.ref }}
  cancel-in-progress: true

on:
  workflow_run:
    workflows: ["Domain Değişiklik Kontrolü"]
    types:
      - completed
  workflow_dispatch:
  push:
    branches:
      - main
    paths-ignore:
      - "**/*.md"
      - "**/*.yml"
      - "**/*.jpg"
      - "**/*.png"
      - "**/*.py"

jobs:
  kreaStreamDerleyici:
    runs-on: ubuntu-latest
    steps:
      - name: "'src' Depo Kontrolü"
        uses: actions/checkout@v4.2.2
        with:
          path: "src"

      - name: "'build' Depo Kontrolü"
        uses: actions/checkout@v4.2.2
        with:
          ref: "builds"
          path: "builds"

      #- name: Eski Derlemeleri Temizle
        #run: rm $GITHUB_WORKSPACE/builds/*.cs3 || true
        #run: find $GITHUB_WORKSPACE/builds -name '*.cs3' -delete

      - name: JDK 17 Ayarla
        uses: actions/setup-java@v4.6.0
        with:
          distribution: adopt
          java-version: 17

      - name: Android SDK Ayarla
        uses: android-actions/setup-android@v3.2.2

      - name: Eklentileri Derle
        run: |
          cd $GITHUB_WORKSPACE/src
          chmod +x gradlew
          ./gradlew make makePluginsJson
          cp **/build/*.cs3 $GITHUB_WORKSPACE/builds
          cp build/plugins.json $GITHUB_WORKSPACE/builds

      #- name: jq Araçlarını Kur (GolgeTV ve AnimeciX eklemeleri için)
        #run: sudo apt-get update && sudo apt-get install -y jq

      - name: YerelDiziler Eklentisini plugins.json'a Elle Ekle
        run: |
          cd $GITHUB_WORKSPACE/builds
          if ! jq -e '.[] | select(.internalName == "YerelDiziler")' plugins.json > /dev/null; then
            jq '. += [{
              "repositoryUrl": "https://github.com/kerimmkirac/cs-kerim",
              "apiVersion": 3,
              "status": 1,
              "language": "tr",
              "authors": ["kerimmkirac"],
              "tvTypes": ["Tv"],
              "version": 2,
              "internalName": "YerelDiziler",
              "description": "YerelDiziler için CloudStream eklentisi",
              "url": "https://github.com/kerimmkirac/cs-kerim/raw/refs/heads/builds/YerelDiziler.cs3",
              "name": "YerelDiziler",
              "iconUrl": "https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Flag_of_Turkey.svg/960px-Flag_of_Turkey.svg.png"
            }]' plugins.json > plugins-new.json && mv plugins-new.json plugins.json
          else
            echo "YerelDiziler zaten plugins.json'da mevcut, eklenmedi."
          fi

      - name: Derlemeleri Yükle
        run: |
          cd $GITHUB_WORKSPACE/builds
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add .
          git commit -m "$GITHUB_SHA 'nın Derlenmesi" || exit 0   # eğer commit edilecek bir şey yoksa hata verme
          git push --force
